# ===== Go build outputs =====
bin/
dist/
out/

# If you sometimes build into current folder (not recommended)
*.exe
*.out
*.test
*.bin

# ===== Coverage / profiling =====
*.cover
coverage.out
*.pprof

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/
